:root {
  --bg0:  #282a36;
  --bg1:  #44475a;
  --bg2:  #44475a;
  --bg3:  #6272a4;
  --bg4:  #6272a4;
  --fg4:  #6272a4;
  --fg3:  #6272a4;
  --fg3:  #f8f8f2;
  --fg2:  #f8f8f2;
  --fg1:  #f8f8f2;
  --fg0:  #f8f8f2;
  --red:     #ff5555;
  --green:   #50fa7b;
  --yellow:  #f1fa8c;
  --blue:    #bd93f9;
  --magenta: #ff79c6;
  --cyan:    #8be9fd;
  --orange:  #ffb86c;
  --brightRed:     #ff6e67;
  --brightGreen:   #5af78e;
  --brightYellow:  #f4f99d;
  --brightBlue:    #caa9fa;
  --brightMagenta: #ff92d0;
  --brightCyan:    #9aedf3;
  --brightOrange:  #ffb86c;
}
